:root {
  --primary-color: #3e4072;
}

body {
  background-color: #f0f3d8;
  color: var(--primary-color);
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}

h1 {
  font-size: 7rem;
  letter-spacing: -8px;
  line-height: 0.8em;
  font-weight: 900;
  margin-bottom: 0;
}

h2 {
  font-size: 1rem;
  margin-top: 1em;
}

canvas {
  width: 210px;
  height: 297px;
}
#uploadBox {
  border: 4px solid var(--primary-color);
  margin: 1em;
}

.upload-box.dragover {
  background-color: hsl(66, 28%, 70%);
}

.slot {
  width: 210px;
  height: 297px;
  background-color: whitesmoke;
  border: 2px dashed var(--primary-color);
  margin-bottom: 40px;
}

.render-button {
  margin-top: 30px;
}

#pagesContainer {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  gap: 30px;
  margin-bottom: 60px;
}

.sortable-ghost {
  opacity: 0;
}
